.button {
	background-color: var(--color-primary);
	color: var(--color-accent);
	font-size: 1.2rem;
	font-weight: 600;
	outline: none;
	border: none;

	padding: 0.5rem 1rem;
	/* border-radius: 8px; */
}

.button:disabled {
	background-color: rgba(0, 0, 0, 0.3);
	color: var(--color-accent);
}

.button--icon {
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	padding: 0.5rem;
	border-radius: 50%;
	/* border: 3px solid var(--color-accent); */
}