.grouped_button {
	position: relative;
	width: 100%;
	display: flex;
	border: 2px solid var(--color-accent);
	gap: 4px;
	/* border-radius: 8px; */
	margin-bottom: 1rem;
}

.button {
	position: relative;
	height: 100%;
	flex-grow: 1;
}

.button button {
	width: 100%;
	outline: none;
	border: none;
	font-size: 1rem;
	padding: 0.5rem 1rem;
	font-weight: 500;
}

.button button.active {
	background-color: var(--color-accent);
	color: white;
}

.button button:not(.active) {
	background-color: white;
	color: var(--color-accent);
}
