* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
	color: var(--color-accent);
	padding: 2rem 1.5rem;
	padding-bottom: 5rem;
	background-color: #fff;
}

/* Base styles for app_screen container for mobile */
.app_screen {
	width: 100%;
	height: 100%;
}

/* For tablets and larger screens */
@media screen and (min-width: 550px) {
	body {
		background: url("/background.png") center/cover fixed repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1.5rem;
		overflow: hidden;
	}

	.app_screen {
		box-sizing: content-box;
		display: block;
		margin: 0 auto;
		background-color: #fff;
		padding: 2rem 1.5rem;
		max-width: 420px;
		height: calc(100vh - 8rem);
		max-height: 800px;
		box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
		border: 0.8rem solid #d3be98;
		overflow-y: auto;
		position: relative;
	}
}

/* For large desktop screens */
@media screen and (min-width: 1200px) {
	.app_screen {
		max-width: 450px;
	}
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 5px;   /* very small */
  height: 5px;  /* if horizontal */
}

::-webkit-scrollbar-track {
  background: transparent; /* hides track */
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);     /* thumb color */
}