.app__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.app__start_button {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.app__start_button__wrapper small {
	line-height: 1;
}